.contact-main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }

    .contact-col-01 {
        width: 350px;
        min-width: 175px;
        

        @media screen and (max-width: 600px){
            display: none;
        }
    }

    .contact-col-02 {
        margin-left: 2.5vw;

        h1 {
        font-family: $font__serrif;
        font-size: 3em;
        font-weight: 300;
        font-style: italic;
        color: $white;
        }

        strong {
            margin-bottom: 5vh;
        }

        a {
        display: block;
        text-decoration: none;

        &:hover {
            color: $white-hover;
        }
        }

        a:last-child {
            margin-bottom: 2vh;
        }

        p {
        margin: 0;
        color: $white;
        font-family: $font__main;
        font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
        font-weight: 100;
        letter-spacing: 1px;
        }
    }
}