//// Footer
.site-footer {
  margin: 2em;
  border-top: 1px solid $white;

.footer-row-1 {
  display: flex;

  .footer-col-1 {
    width: 50%;
    padding: 2em;

    h3.footer-menu-title {
      font-family: $font__main;
      font-size: 1.2em;
      font-weight: 400;
      color: $grey;
    }

    .menu-footer-container {
      ul.menu {
        list-style: none;
        margin: 0;
        padding: 0;

        li.menu-item {

          a {
            font-family: $font__main;
            font-size: 0.9em;
            font-weight: 300;
            color: $grey;
            text-decoration: none;

          &:hover {
            color: $white;
          }

          }
        }
      }
    }
  }

  .footer-col-2 {
    width: 50%;

    .footer-contact-container {
      padding: 2em;

      h3 {
        font-family: $font__main;
        font-size: 1.2em;
        font-weight: 400;
        color: $grey;
      }

      a {
        text-decoration: none;
        color: $grey;

        &:hover {
          color: $white;
        }
      }
      
      p {
        margin: 0;
        margin-block-start: 1em;
        margin-block-end: 1em;
        font-family: $font__main;
        font-size: 0.9em;
        font-weight: 300;
        color: $grey
        
      }
    }
  }
}


// Footer Row 2
.footer-row-2 {
  // Copyright
  .copyright {
      display: flex;
      justify-content: flex-start;
      padding-left: 2em;

    p {
        margin: 1% 0;
        font-size: 0.5em;
        letter-spacing: 1px;
        font-weight: 300;
        color: $grey;
    }
  }
}


// Mobile Menu
.mobile-cover {
  display: block;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: $black;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  transform: translateX(-100%);
}

.mobile-cover.active {
    opacity: 0.9;
    transform: translateX(0);
}

.menu-mobile-menu-container {
    display: block;
    position: fixed;
    top: 20%;
    left: 10%;
    opacity: 0;
    transition: opacity 1s ease-out;
    transform: translateY(0);


  #menu-mobile {
    list-style: none;
    margin: 0;
    padding-left: 1em;

    li {
      margin-bottom: 10px;
      opacity: 0;
      transition: all 1s ease-out;  
      transform: translateY(-10px);

      a {
        font-size: 3em;
        -webkit-font-smoothing: antialiased;
        color: $white;
        text-decoration: none;
        font-weight: 400;
      }

    }

    li.list-transition {
      transition: all 1s ease-in-out;
      transform: translateY(0);
      opacity: 1;
    }
    


    li:first-child  {
        transition-delay: 1s;
    }
    li:nth-child(2) {
        transition-delay: 0.8s;
    }
    li:nth-child(3) {
        transition-delay: 0.7s;
    }
    li:nth-child(4) {
        transition-delay: 0.6s;
    }
    li:nth-child(5) {
        transition-delay: 0.5s;
    }
  }

}

.menu-active {
      opacity: 1;
    }


}