// Front Page

// Top Hero Image and Title Text
.fp-image-wrapper {
    height: 100vh;
    width: 100%;
    background-color: #000;

    .fp-hero-cover {
        width: 90%;
        height: 90vh;
        margin: 0 auto;
        background-color: $black;
        position: relative;
    }

    .fp-hero-text-wrapper {
        position: absolute;
        top: 40%;
        left: 50%;
        transition: opacity 1s ease-in;

            .fp-hero-text_row-01 {
                font-size: 4em;
                font-weight: 300;
                color: $white;
                transform: translateX(-50%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: opacity 1s ease-in-out;

                @media screen and (max-width: 420px){
                    font-size: 3em;
                }
                @media screen and (max-width: 320px){
                    font-size: 2.7em;
                }
            }

            .fp-hero-text_seperator {
                height: 1px;
                width: 50%;
                margin: 0 auto;
                display: block;
                background-color: $white;
                transition: opacity 1s ease-in-out;
                transition-delay: 0.5s
            }

            .fp-hero-text_row-02 {
                font-size: 1em;
                font-weight: 300;
                color: $white;
                transition: opacity 1s ease-in-out;
                transition-delay: 1s
            }
    }

    .fp-image {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    }
}


// Front Page About Section
.fp-intro-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .fp-intro-about_row-1 {
        display: flex;
        padding: 2%;
        max-width: 1000px;
        flex-direction: column;
        z-index: 2;

        .fp-about_col-1 {
        margin: 0 5%;
        color: white;
        font-family: $font__main;
        font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); ;
        font-weight: 100;
        letter-spacing: 1px;
        }

        .fp-about_col-2 {
        margin: 0 5% 5%;
        color: white;
        font-family: $font__main;
        font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        font-weight: 100;
        letter-spacing: 1px;        
        }
    }

}

// Highlighted project images
// .about-section-images {

//     ul {
//     list-style: none;
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-gap: 10em 2em;

//     li {

//         img {
//             width: 500px;
//         }
//     }

//     }
// }




// Project Lists Section
.fp-project-lists {
    margin-bottom: 15%;
}



.project-list-title {
    display: inline-block;
    font-family: $font__serrif;
    font-size: 3em;
    font-weight: 300;
    font-style: italic;
    color: $white;

    @media screen and (max-width: 420px){
            font-size: 2em;
    }
    @media screen and (max-width: 320px){
            font-size: 1.7em;
    }
}

.accordion {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid $white;


    .fa-caret-down {
        color: $white;
        margin-left: 0.7em;
    }
}


.accordion-toggle {
    display: inline-block;
    cursor: pointer;
}

.accordion-toggle:hover * {
    color: $white-hover
}

.accordion-content {
    display: none;
    list-style: none;
    margin-bottom: 5vh;

    a {
        text-decoration: none;
        font-family: $font__main;
        font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
        font-weight: 100;
        letter-spacing: 1px; 

        &:hover {
            color: $white-hover;
        }
    }
}

