// Front Page

// Top Hero Image and Title Text
.fp-image-wrapper {
    height: 100vh;
    width: 100%;
    background-color: #000;


    .fp-hero-cover {
        width: 90%;
        height: 90vh;
        margin: 0 auto;
        background-color: $black;
        position: relative;

    }

    .fp-hero-text-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        transition: opacity 1s ease-in;
        

            .fp-hero-text_row-01 {
                font-size: 4em;
                font-weight: 300;
                color: $white;
                transform: translateX(-50%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: opacity 1s ease-in-out;

                @media screen and (max-width: 420px){
                    font-size: 3em;
                }
                @media screen and (max-width: 320px){
                    font-size: 2.7em;
                }
            }

            .fp-hero-text_seperator {
                height: 1px;
                width: 50%;
                margin: 0 auto;
                display: block;
                background-color: $white;
                transition: opacity 1s ease-in-out;
                transition-delay: 0.5s
            }

            .fp-hero-text_row-02 {
                font-size: 1em;
                font-weight: 300;
                color: $white;
                transition: opacity 1s ease-in-out;
                transition-delay: 1s
            }
    }

    .fp-image {
    width: 88%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2vh auto 0;
    transition: opacity 0.7s ease-in;

    @media screen and (min-width: 1420px){
            width: 90%
        }
}


}


// Front Page About Section
.fp-about-section_row-1 {
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: 768px ){
        flex-direction: column;
        align-items: center;
    }

    .fp-intro-about_row-1 {
        display: flex;
        max-width: 500px;
        flex-direction: column;
        border-top: 1px solid $white;

        p {
        margin: 10% 5% 0 0;
        color: $white;
        font-family: $font__main;
        font-size: calc(14px + (32 - 14) * ((100vw - 300px) / (1600 - 300))); ;
        font-weight: 100;
        letter-spacing: 1px;
        }

    }

}

.fp-about-section_row-2 {
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: 768px ){
        flex-direction: column;
        align-items: center;
    }

    .fp-intro-about_row-2 {
        display: flex;
        max-width: 500px;
        flex-direction: column;
        border-top: 1px solid $white;

        p {
        margin: 10% 0 0 5%;
        color: $white;
        font-family: $font__main;
        font-size: calc(14px + (32 - 14) * ((100vw - 300px) / (1600 - 300))); ;
        font-weight: 100;
        letter-spacing: 1px;
        }

    }

}

.about-section-images_row-1, .about-section-images_row-2 {
    width: 500px;
}


// Project Lists Section



.fp-project-lists {
    margin-bottom: 15%;
}

.project-list-title {
    display: inline-block;
    font-family: $font__serrif;
    font-size: 2.25em;
    font-weight: 300;
    font-style: italic;
    color: $white;

    @media screen and (max-width: 420px){
            font-size: 2em;
    }
    @media screen and (max-width: 320px){
            font-size: 1.7em;
    }
}

.accordion {
    width: 45%;
    margin-left: 10vw;
    border-bottom: 1px solid $white;


    .fa-caret-down {
        color: $white;
        margin-left: 0.7em;
    }
}


.accordion-toggle {
    display: inline-block;
    cursor: pointer;
}

.accordion-toggle:hover * {
    color: $white-hover
}

.accordion-content {
    display: none;
    list-style: none;
    margin-bottom: 5vh;

    a {
        text-decoration: none;
        font-family: $font__main;
        font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
        font-weight: 100;
        letter-spacing: 1px; 

        &:hover {
            color: $white-hover;
        }
    }
}

