header#masthead {
    height: 60px;

    display: flex;
             
    @media screen and ( max-width: 601px ){
        flex-direction: column;
    }

    .site-branding {
        display: flex;

        
        .custom-logo {

            padding-left: 1em;

            }
        }
    }

// --------------------------
// Mobile Round Button
// --------------------------
// .menu-toggle {
//     position: fixed;
//     top: 75vh;
//     left: 50px;
//     background-color: #ffffff;
//     height: 30px;
//     width: 30px;
//     -webkit-border-radius: 100%;
//     border-radius: 100%;
//     cursor: pointer;
//     transition: all 0.8s ease-in;
//     transform: translateX( -100px );

//       @media screen and ( max-width: 768px ){
//                 transform: translateX( 0px );
//               }

//   .rel {
//     position: relative;
//   }

//   span {
//       display: block;
//       height: 2px;
//       width: 15px;
//       background-color: #000000;
//       margin: 0 auto;
//   }

//   span:first-child {
//     // margin-top: 10px;
//     margin-bottom: 5px;
//   }

// }