header#masthead {
    height: 70px;
    width: 100%;
    display: flex;
    padding-top: 3vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    margin: 0 auto;
    background-color: transparent;
    transition: all 1s ease-in-out;

             
    @media screen and ( max-width: 768px ){
        flex-direction: column;
        height: 90px;
        width: 100%;
    }

    .site-branding {
        display: flex;
        transition: opacity 1s ease-in;
        
        @media screen and (max-width: 768px){
            opacity: 1;
        }
        .custom-logo {
            padding-left: 1em;
            }
        }
    }

