
.projects-main {
    display: flex;

    .project-archive-column_1 {
        width: 55%;

        .project-archive-title {
            font-family: $font__main;
            font-weight: 400;
            font-size: 5em;
            margin-top: 0;
            color: $white;
        }

        .project-archive-paragraph {
            font-family: $font__main;
            font-size: 1.4em;
            font-weight: 300;
            color: $white;
        }

        .project-list-container {
            width: 60%;
            padding: 0 5% 0;
            margin: 0 auto;

            @media screen and (max-width: 945px){
                width: 80%;
            }

            @media screen and (max-width: 545px){
                width: 90%;
            }

            .project-list-title {
                display: inline-block;
                font-family: $font__main;
                font-size: 2em;
                font-weight: 300;
                color: $white;

                @media screen and (max-width: 420px){
                        font-size: 1.7em;
                }
                @media screen and (max-width: 320px){
                        font-size: 1.7em;
                }
            }

            .accordion {
                border-bottom: 1px solid $white;


                .fa-caret-down {
                    color: $white;
                    margin-left: 0.7em;
                }
            }


            .accordion-toggle {
                display: inline-block;
                cursor: pointer;
            }

            .accordion-toggle:hover * {
                color: $white-hover
            }

            .accordion-content {
                display: none;
                list-style: none;
                margin-bottom: 5vh;

                a {
                    text-decoration: none;
                    font-family: $font__main;
                    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
                    letter-spacing: 1px; 

                    &:hover {
                        color: $white-hover;
                    }
                }
            }

        }        





    }


    .project-archive-column_2 {
        width: 45%;

        .projects-main-gallery-container {
            margin-top: 45px;

            @media screen and (max-width: 945px){
            margin: 0 auto;   
            }
        }

    }   
}







