.projects-archive {
    margin-top: 15vh;
}

.projects-main {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}


.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .project-list-title {
        display: inline-block;
        font-family: $font__serrif;
        font-size: 2em;
        font-weight: 300;
        font-style: italic;
        color: $white;
        margin: 0;

        @media screen and (max-width: 420px){
                font-size: 1.7em;
        }
        @media screen and (max-width: 320px){
                font-size: 1em;
        }
    }



    .project-content {
        list-style: none;
        margin-bottom: 5vh;

        a {
            text-decoration: none;
            font-family: $font__main;
            font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
            font-weight: 100;
            letter-spacing: 1px; 

            &:hover {
                color: $white-hover;
            }
        }
    }

}

.project-archive-list {
    width: 50%
}