
.single-project-main {
    margin-top: 10vh;
    height: 85vh;

    @media screen and (max-width: 930px){
        height: auto;
    }

    .project-singular {
        display: flex;
        padding: 3em;
    
        @media screen and (max-width: 930px){
            flex-direction: column;
        }

        @media screen and (min-width: 1400px){
            justify-content: center;
        }

        .project-info {
            width: 50%;
            padding: 3em;
            border-right: 1px solid $dark-grey;

            @media screen and (max-width: 930px){
                width: 95%;
                border: none;
                padding: 0;
            }
            

            h2 {
            display: inline-block;
            font-family: $font__main;
            font-size: 3.5em;
            font-weight: 400;
            color: $white;
            margin: 0;
            

            
            @media screen and (max-width: 620px){
                font-size: 2.5em;
            }

            @media screen and (max-width: 420px){
                font-size: 2em;
            }

            }

            p {
                font-family: $font__main;
                font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
                color: $white;
                letter-spacing: 1px; 
            }
        }

        .project-singular-gallery {
            width: 50%;
            padding: 1em;

            @media screen and (max-width: 930px){
                width: 95%;
                padding: 0;
            }

            .single-project-gallery {
                padding: 0;

            }
        }
    }


}