button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		outline: none;
	}
}


// --------------------------
// Mobile Round Button
// --------------------------
.mobile-menu-toggle {
	position: relative;
    background-color: transparent;
    height: 30px;
	width: 30px;
	cursor: pointer;
	border: none;
	z-index: 999999;
	padding: 0;
    margin-left: 12px;
    display: none;

	@media screen and ( max-width: 768px ){
		display: block;
    }

  .open-menu {
    position: absolute;
	top: 0;

		p {
		color: white;
		font-family: $font__main;
		font-size: 1.4em;
		font-weight: 400;
		letter-spacing: 1px;
		margin: 0;
		line-height: 1.3;
		-webkit-font-smoothing: antialiased;
		}

	}

	.close-menu {
		position: absolute;
		top: 0;
		display: none;

		p {
		color: white;
		font-family: $font__main;
		font-size: 1.4em;
		font-weight: 400;
		letter-spacing: 1px;
		margin: 0;
		line-height: 1.3;
		-webkit-font-smoothing: antialiased;
		}

	}

}
