button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		outline: none;
	}
}


// --------------------------
// Mobile Round Button
// --------------------------
.mobile-menu-toggle {
	position: relative;
    background-color: $black;
    height: 30px;
	width: 30px;
	cursor: pointer;
	border: none;
	z-index: 999999;
	padding: 0;
    margin-left: 12px;
    display: none;

	@media screen and ( max-width: 768px ){
		display: block;
    }

  .open-menu {
    position: absolute;
	height: 30px;
	width: 30px;
	top: 0;

		span {
      	display: block;
      	height: 2px;
      	width: 15px;
      	background-color: $white;
		margin: 0 auto;
  		}

  		span:first-child {
    	margin-bottom: 5px;
  		}

	}

	.close-menu {
		position: absolute;
		display: none;
		height: 30px;
		width: 30px;
		top: 4px;
    	left: 8px;

		span {
		position: absolute;
		top: 0;
		left: 0;
      	display: block;
      	height: 2px;
      	width: 15px;
      	background-color: $white;
		margin: 0 auto;
  		}

  		span:first-child {
		transform-origin: 50%;
    	transform: rotate(45deg);
  		}

		span:last-child {
		transform-origin: 50%;
    	transform: rotate(-45deg);
  		}
	}

}
